<div class="form-group">SHOW
      <label class="col-sm-3 control-label"><%= I18n.t("actions.download_resource_csv_job")  %></label>
      <div class="col-sm-9 controls label-only"><%= job['source'] %></div>
    </div>
</div>
