<strong>Hi, <%= rid %>!</strong>
<% if defined?(errors) %>
<div class="bg-danger"><blockquote>
<% errors.each do |error| %>
<%== error %><br/>
<% end %>
</blockquote></div>
<% else %>
<div class="bg-info"><blockquote>
<% report.each do |line| %>
<%== line %>|<br/>
<% end %>
</blockquote></div>
<% end %>
